body {
	background-color: dark blue;
	font-family: verdana;
}
/*
========================
THREE COLUMNS
========================
*/
.columns {
	background-color: grey;
	position: float;
	width: 960px;
}
.colums p {
	color: white;
}
article {
	position: float;
	margin: 20px 20px 15px 15px;
	padding: 7px;
	width: 30%;
	background-color: blue;
}