body {
	background: -moz-linear-gradient(
		bottom, 
		white 5%, 
		#293f50 75%
	);
    background: linear-gradient(
    	bottom, 
    	white 5%, 
    	#293f50 75%
    	);
}
/*
===============================
GRID SYSTEM
===============================
*/
.grid-container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	font-family: Ariel;
}
/*--cleafix-- */ 
    .row:before, 
    .row:after {
        content:"";
        display: table ;
         clear:both;
    }

    .col1{ width: 16.66%; }
    .col2{ width: 32.24%; }
    .col3{ width: 50%;    }
    .col4{ width: 66.66%; }
    .col5{ width: 83.33%; }
    .col6{ width: 100%;   }
/*
========================
THREE COLUMNS
========================
*/
.grid-container p, h2 {
	color: white;
}
.grid-container h2 {
	font-family: Days One;
	text-transform: capitalize;
	text-align: center;
}
.grid-container .col2 {
	margin-top: 10px;
	display: float;
	background-color: #293f50;
	padding-left: 7px;
}
.grid-container .col2 ul {
	color: white;
	text-decoration: none;
}
.col2:hover {
	background-color: lightgrey;
}
.col2:hover p,
.col2:hover h2, 
.col2:hover ul,
.col2:hover a{
	color: black;
}
.grid-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
========================
IMAGE MAINSECTION
========================
*/
.mainsection {
	width: 960px;
	margin: 0 auto;
}
.head-container {
	width: 100%;
	background-color: #888;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    position: absolute;
    border-top: 2px solid white;
    border-bottom: 2px solid white;;
    /* fade towards edges */
    box-shadow: -40px 0px 20px 20px #888;
}
.head-container nav {
  text-align: right;      
  font-size: 14px;
  letter-spacing: .5px; 
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
}
.head-container nav li:last-child {
   margin-right: 200px;
}
.logo {
  font-family: Days One;
  float: left;                     
  font-size: 40px;                 
  line-height: 38px;               
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 200px;
}
.logo a{
	color: white;
	text-decoration: none;
}
.head-container nav {
	display: inline-block;
	float: right;
	padding-right: 100px;
	padding-top: 50px;
}
.head-container nav li {
	display: inline-block;
	margin-left: 8px;
}
.head-container nav a {
    color: #293f50;
    font-size: 18px;
    text-decoration: none;
}
.head-container nav a:hover {
	color: white;
}
/*                                           
========================================   
Links                                      
========================================   
*/   
.mainsection a,
.grid-container a{
	color: white;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
/*
========================
Footer
========================
*/
footer {
	font-family: Ariel;
	font-size: 23px;
	border-top: 2px solid grey;
	margin-top: 20px;
	padding-left: 200px;
	padding-top: 10px;
}
.footernav {
	margin-left: 170px;
}
.footernav li,
.footernav{
	display: inline-block;
}
.footernav a{
	color: #293f50;
	font-size: 23px;
	display: inline-block;
	text-decoration: none;
}
.footernav a:hover{
	color: blue;
}