body {
	background-color: darkblue;
	font-family: verdana;
}
/*
========================
THREE COLUMNS
========================
*/
.columns {
	background-color: grey;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
	width: 960px;
}
.columns p, h2 {
	color: white;
}
.columns h2 {
	text-align: center;
}
article {
	display: inline-block;
	margin: 7px;
	padding: 7px;
	width: 30%;
	background-color: blue;
}
article:hover {
	background-color: black;
}
/*
========================
IMAGE MAINSECTION
========================
*/
.mainsection {
	width: 960px;
	margin: 0 auto;
}
.head-container {
	width: 100%;
	background-color: darkblue;
    text-color: white;
    margin-top: 100px;
    position: absolute;
}
h1, nav {
	display: inline-block;
}
nav {

}